* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*regolazione immagine di sfondo header*/
#logo{
    height: 100px;
    background-color: #4EA1FF;
    background-image: url(../img/pattern.png);

}



/* Regolazione immagine the booleaner */
img{
    height: 80px;
    margin-top: 20px;
    padding: 15px;
    

}

/*Sottotitolo the booleaner*/

h3{
    color: gray;
    margin-top: 6px;
}

/*Data Articolo nel paragrafo*/

#data{
    color: gray;
    font-size: small;
}
/*Grandezza Font Paragrafo*/
p{
    font-size: small;
}


/*Colore blu scritta the booleaner*/

#blu{
    color: #4EA1FF;
}

/*Regolazione immagine Tim Berners Lee*/

.tim{
    height: 500px;
    padding: 0px;
    
}