* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*regolazione immagine di sfondo header*/
#logo{
    height: 100px;
    background-color: #4EA1FF;
    background-image: url(../img/pattern.png);

}



/* Regolazione immagine the booleaner */
img{
    height: 80px;
    margin-top: 20px;
    padding: 15px;
    

}

/*Sottotitolo the booleaner*/

h3{
    color: gray;
    margin-top: 6px;
}

/*Data Articolo nel paragrafo*/

#data{
    color: gray;
    font-size: small;
}
/*Grandezza Font Paragrafo*/
.Descrizione{
    font-size: small;
}


/*Colore blu scritta the booleaner*/

#blu{
    color: #4EA1FF;
}

/*Regolazione immagine Tim Berners Lee*/

.tim{
    height: 500px;
    padding: 0px;
    
}

/*Allontano il paragrafo dalle scritte */

p{
    margin-top: 10px;
}

/*Rendo visibili i puntatori della lista perche il css reset li aveva tolti*/

ul{
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 30px;
}

/*tabella*/

  table  {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
  }

  /*sistema lintestazione th*/

  th{
    text-align: left;
    background-color: #4EA1FF;
    color: white;
  }


tr{
    background-color: #B1E6F2;
}

.meta{
    width: 50%;
}

.bianco{
    background-color: white;
}

#ultimop{
    margin-top: 15px;
}

  